<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149136724884-6c13ecd5nr2vsb112mtqh884ptstdmf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149136724884-6c13ecd5nr2vsb112mtqh884ptstdmf9</string>
	<key>API_KEY</key>
	<string>AIzaSyA19Sw6ln4XS0bpqPx2HVZis0GppGyakTE</string>
	<key>GCM_SENDER_ID</key>
	<string>149136724884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.einnovention.wassalvendor</string>
	<key>PROJECT_ID</key>
	<string>wssal-bc109</string>
	<key>STORAGE_BUCKET</key>
	<string>wssal-bc109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149136724884:ios:b7746a7a1cb402805e3581</string>
</dict>
</plist>